<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-gema-hiring-summary-styles.html">
<link rel="import" href="../bbva-panel-process/bbva-panel-process.html">
<link rel="import" href="../bbva-header-main/bbva-header-main.html">
<link rel="import" href="../cells-heading/cells-heading.html">
<link rel="import" href="../cells-key-values/cells-key-values.html">
<link rel="import" href="../cells-product-item/cells-product-item.html"">
<link rel="import" href="../cells-atom-date/cells-atom-date.html">
<link rel="import" href="../cells-operations-list/cells-operations-list.html">
<link rel="import" href="../bbva-button-default/bbva-button-default.html">
<link rel="import" href="../bbva-amount/bbva-amount.html">
<dom-module id="cells-gema-hiring-summary">

  <script src="cells-gema-hiring-summary.js"></script>
</dom-module>