@import "bower_components/cells-sass/main";
$w: 470px;

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-gema-hiring-summary;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.top-container{
  background: #277A3E ;
  width: 100%;
  height: var(--cells-gema-hiring-summary-top-contaimer-height, rem(514px));
  --bbva-panel-process-bg-color:  #277A3E;
  --bbva-panel-process-color: white;
}


.bottom-container{
  background: white;
  width: 100%;
  height: 650px;
}

.cell-status-bar{
  background: #277A3E;
  height: 20px;
}

.key_values{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-hiring-success{
  --cells-key-values-key-color: white;
  --cells-key-values-key-value-margin:0px;
  font-size: 20px;
  margin: rem(24px) 0 rem(8px) 0;
  font-weight: 500;
}


.space-zero-panel-process{
  --bbva-global-spacer:0px;
  padding: 0;
  margin: 0;
}

.font-size-style-hiring-date{
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  margin: rem(1px) 0;
}

.font-size-hiring-loan{
  font-size: 15px;
  margin: rem(32px) 0 0 0;
  padding: rem(3px) 0;
}


.for_key{
  --cells-key-values-key-color: white;
  font-size: rem(15px);
  font-weight: lighter;
  padding: rem(1px) 0;
  --cells-key-values-key-value-margin: rem(0px);
}

.for_value{
  --cells-key-values-color: white;
  --cells-key-values-value-font-size: rem(20px);
  font-size: rem(25px);
  font-weight: lighter;
  --cells-key-values-key-value-margin:rem(0px);
}

.small-line{
  background: #E9E9E9;
  width: rem(48px);
  height: rem(1px);
  border-width: rem(0px);
  margin: rem(23px) 0 rem(24px) 0;
}

.lista_key_values{
  --cells-key-values-color: white;
  --cells-key-values-key-color: white; 
}

.cells-key-values-list{
  padding: 0;
}

.key_values_pair{
list-style: none;
padding:0px rem(16px);
font-size: rem(15px);
--cells-key-values-value-font-size: rem(15px);
--cells-key-values-key-value-margin: 0px;
font-weight: lighter;
}


.key_values_p{
padding: 3px rem(16px);
font-size: rem(15px);
--cells-key-values-value-font-size: rem(15px);
--cells-key-values-key-value-margin: 0px;
}

.sub-key-values{
  display:flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.font_weight_light{
  font-weight: lighter;
}

.font_weight_bold{
  font-weight: 700;
}

.for_key_black{
  --cells-key-values-key-color: black;
  font-size: rem(15px);
  font-weight: lighter;
  --cells-key-values-key-value-margin: 0px;
  padding: rem(3px) 0px;
}

.container-bottom-container-credit-account-charge{
  display: flex;
  justify-content: center;
  color: #121212;
  margin: 0 0 rem(4px) 0;
}
.container-bottom-container-image{
  background: #F4F4F4;
  width: var(--cells-gema-hiring-summary-width-container-center, rem(100px));
  height:60px;
  transform: translate(calc(50vw - 50px), -30px);
  border-radius:100px;
}
.container-bottom-container-checks-contract-keys, .container-bottom-container-checks-contract-values{
  display:flex;
  justify-content: center;
}

cells-product-item{
  margin:0;
  padding: 0;
}

.bottom-container-separation-small{
  margin: 16px 0 0 0;
}

.bottom-container-for-key{
  --cells-key-values-key-color:  #121212;
  font-size: rem(18px);
  font-weight: bold;
  --cells-key-values-key-value-margin: 0px;
  padding: rem(1px) 0;
  margin: 0 0 rem(4px) 0;
}

bbva-header-main{
  --bbva-header-main-bg-color :  #277A3E ;
}


.bottom-container-for-value{
  --cells-key-values-color:  #121212;
  --cells-key-values-value-font-size: rem(15px);
  font-weight: lighter;
}

.bottom-container-value-italic{
  font-style: italic;
}

.bottom-container-key-value-inline-black{
  padding: 0px rem(16.8px) 0px;
  font-size: rem(15px);
  --cells-key-values-value-font-size: rem(15px);
  --cells-key-values-color:  #121212;
  --cells-key-values-key-color: #121212;
  font-weight: 500;
  }

  .bottom-container-separation-large{
    margin: 50px 0 0 0;
  }

  .line-large{
    /*La función calc() no funciona para vh o wv aun con webkit, usar porcentajes*/
    width: -webkit-calc(100% - 32px);
    width: -moz-calc(100% - 32px);
    width: calc(100% - 32px);
    background: #D3D3D3 ;
    height: 1px;
    transform: translate(rem(16px), 0px);
  }

  .bottom-container-separation-medium{
    margin: 26px 0 0 0;
  }

  .bottom-container-separation-x-medium{
    margin: 32px 0 0 0;
  }

  .lista_key_values_black{
    --cells-key-values-color: #121212;
    --cells-key-values-key-color: #121212;
    --cells-atom-date-color:#121212;
  }
  

bbva-panel-process{
  margin: rem(24px) 0 0 0;
  padding: 0;
}

cells-key-values{
  margin: 0 0 0 0;
  padding: 0;
}

.btn-icons{
  --cells-operations-list-list__link-color:#1973B8;
  --cells-operations-list-list-bg-color: white;
  --cells-operations-list-list__link-width: rem(156px);
  padding: 0px rem(16.8px) 0px;
}

.btn-exit{
  font-weight: 700;
  font-size: rem(15px);
}